$textEditor_info_color: #3d4251;
$midnight: #2c3e50;
$clouds: #ecf0f1;

// Heading Font sizes
$heading_large: 23px;
$heading_medium: 17px;
$heading_small: 12px;

// Common

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.width-full {
  width: 100%;
}

.display-hidden {
  display: none;
}

.display-flex {
  display: flex;
}

.sa_takeHint {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  .far {
    font-size: 18px;
    color: #33aacc;
  }
  p {
    margin: 0;
    margin-left: 15px;
    color: $textEditor_info_color;
    transition: 0.3s;
    font-weight: bold;
  }
  &:hover {
    p {
      color: #33aacc;
    }
  }
}

button.primary {
  margin: auto;
  display: block;
  margin-top: 25px;
  border-radius: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.no-padding {
  padding: 0;
}

// Content

.sa_textEditor_options {
  background-color: #fff;
  padding: 20px;
  text-align: right;
  .sa_textEditor_redo,
  .sa_textEditor_runCode,
  input[type="submit"] {
    margin-left: 9px;
    background-color: #36d57d;
    padding: 8px 17px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .sa_textEditor_redo,
  .sa_textEditor_runCode {
    background-color: transparent;
    border: 1px solid;
    border-color: #7ecce2;
    color: #3d4251;
  }
  .sa_textEditor_redo {
    padding: 8px 10px;
  }
}

.sa_terminal_section {
  margin-top: 65px;
}
.sa_video_gallary {
  .sa_cover {
    overflow: hidden;
    img {
      margin: auto;
      display: block;
      transform: scale(1.5);
      transition: 0.4s;
    }
  }
  .MuiGrid-item:hover {
    .sa_cover {
      img {
        transform: scale(1.8);
      }
    }
  }
}

.sa_textEditor_info {
  width: 100%;
  .header {
    padding: 7px;
    font-size: 11px;
    background-color: #cfdce1;
    h4 {
      text-align: left;
      margin: 0;
      color: $textEditor_info_color;
      i {
        margin-right: 5px;
      }
    }
    .tag {
      background: #fff;
      border: 0;
      border-radius: 12px;
      color: #3d4251;
      font-size: 10px;
      position: absolute;
      right: 15px;
      line-height: 1;
      top: 6px;
      padding: 4px 8px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .content {
    height: 640px;
    overflow-y: scroll;
  }
  section {
    color: $textEditor_info_color;
    padding: 20px;
    text-align: left;
    span {
      background-color: #cfdce1;
      padding: 5px;
      font-size: 12px;
      border-radius: 4px;
    }
    ul {
      padding-left: 18px;
      list-style: none;
      li {
        margin-top: 20px;
        position: relative;
        .fas {
          font-size: 8px;
          left: -19px;
          top: 6px;
          position: absolute;
          color: #3ac;
        }
      }
    }
    .exercise-title {
      margin-top: 0;
      font-size: $heading_large;
    }
  }
}

.sa_text_area {
  .MuiBox-root-264 {
    padding: 0 !important;
  }

  .MuiTab-wrapper {
    text-transform: lowercase;
  }
  .MuiTab-root,
  .makeStyles-paper-207,
  .MuiAppBar-positionStatic {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .MuiTab-root {
    background-color: #fff;
    color: #000 !important;
  }
  .MuiBox-root {
    padding: 0;
  }
  span.MuiTab-wrapper {
    font-size: 12px;
    font-weight: 600;
  }
  button.MuiButtonBase-root {
    padding: 7px 16px;
    min-height: 0;
    min-width: 0;
    border-top-right-radius: 0;
  }
  header.MuiPaper-root {
    height: 35px;
  }
  .MuiAppBar-colorPrimary {
    background-color: #cfdce1;
  }
}

.editor {
  width: 100%;
  height: 290px;
}

.terminal {
  width: 100%;
  height: 240px;
}

.sidebar {
  max-width: 240px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-icon {
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}

.sa_ticket_section {
  .MuiPaper-root {
    border-radius: 20px;
  }
  .sa_tickets,
  .sa_ticket_editor {
    padding: 20px;
  }
  .sa_tickets {
    .MuiFormControl-root {
      width: 100%;
      margin-top: 15px;
    }
  }
  .sa_ticket_form {
    padding: 45px;
    margin: 25px;
    border: 1px solid #949494;
    border-radius: 10px;
    textarea {
      width: 100%;
      margin-top: 35px;
      border-radius: 10px;
      padding: 10px;
      height: 200px;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    color: #3d4251;
    margin: 0;
  }
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
  }
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $midnight;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken($midnight, 10%);
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $midnight;
      background: white;
      transition: all 0.35s;
      a {
        color: #8c8c8c;
        width: 100%;
        span {
          width: 100%;
          &.name {
            text-align: right;
          }
          &.date {
            margin-top: 15px;
          }
        }
      }
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $midnight;
      cursor: pointer;
      &:hover {
        background: darken($midnight, 10%);
      }
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      background: darken($midnight, 10%);
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 0;
    }
  }
}

.sa_todo_list {
  padding: 50px;
  .sa_reply {
    text-transform: inherit;
    width: 100%;
    position: relative;
    .MuiButton-label {
      margin-right: auto;
      width: 70px;
    }
    .fas {
      position: absolute;
      right: 25px;
    }
  }
  .sa_todo_item {
    margin: 20px 0;
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
    .header {
      padding: 10px;
      background-color: #efefef;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      span {
        margin-left: auto;
        &.date {
          position: relative;
          top: 5px;
        }
      }
      h3 {
        font-size: 20px;
      }
      h4 {
        margin: 0;
      }
    }
    .body {
      p {
        margin: 0;
        line-height: 25px;
        text-align: justify;
      }
      padding: 15px;
      border: 1px solid #efefef;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

// Responsive

@media (max-width: 500px) {
  .sa_textEditor_options .sa_textEditor_redo,
  .sa_textEditor_options .sa_textEditor_runCode,
  .sa_textEditor_options input[type="submit"] {
    padding: 5px 9px;
    font-size: 8px;
  }
}

@media (max-width: 900px) {
  .sa_ticket_section .sa_ticket_form {
    padding: 10px;
    margin: 0;
  }
}
